/* src/App.css */
/* Reset or normalize CSS can go here if needed */

.App {
  font-family: 'Inter', Arial, sans-serif;
  /* Example using Inter, fallback to Arial and sans-serif */
}

header,
nav,
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  /* Very dark background, ensure text color contrast */
  color: #fff;
  /* White text for contrast */
}

main {
  padding: 20px;
}

section {
  margin: 20px 0;
}

footer {
  background-color: #ebecf2;
  /* Light gray background */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  height: 20vh;
  /* Adjust height as needed */
  padding: 40px;
  box-sizing: border-box;
}

.contact a {
  text-decoration: none;
  color: black;
  /* Ensure good contrast with the light background */
  margin: 0 1rem;
  cursor: pointer;
  background: none;
  border: none;
}